@import url(https://fonts.googleapis.com/css?family=Gabriela);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

header a {
	float: left;
	margin-top: 4%;
	margin-left: 7%;
}

header {
	position: relative;

}

header h1 {
	font-size: 25px;
	float: right;
	margin-right: 6%;
	font-family: Gabriela; 
	color: #D7D9D7;
	margin-top: 1.6%;
	width: auto;
}

#logo {
	float: left;
	margin-left: 14%;

}

img {
	max-width: 100%;
}

nav {
	margin-left: 20%;
}
nav a {
	color: black;
	background-color: orange;
	padding: 0.4%;
	border-radius: 25px;
	font-size: 1.5em;
	text-decoration: none;
	margin-top: 1.5%;
	font-weight: 500;
	border: 1px solid gray;
	border-collapse: collapse;
	box-shadow: .15em .15em;

}

nav a:hover {
	background-color: #B12A00;
	font-weight: 700;

}

#repairimg, #laptopimg {
	-webkit-filter: invert(40%);
}

#laptopimg:hover {
	-webkit-filter: invert(0%);
}

#repairimg:hover {
	-webkit-filter: invert(0%);
}




#callnow {
	display: none;
}

body {
	background-color: #58594F;
}



#wrapper {
width: 93%;
height: auto;
margin: 15% auto 0 auto;
background-color: #D7D9D7;
display: block;
clear: both;
border-radius: 25px;
}

#laptops {
	text-align: center;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	display: inline-block;
	margin-top: 7%;
	
	float: right;

}

h2 {
	color: #2A5DB0;
}
#laptops h2 {
	margin-top: 0.2%;
	font-size: 20px;
	
}

#repair h2 {
	margin-top: 4%;
	font-size: 20px;
}

#repair {
	width: 40%;
	float: left;
	text-align: center;
	margin-top: 7%;
	margin-left: 5%;

}

#laptops a, #repair a {
	text-decoration: none;
	padding: 0.5%;
}

hr {
	clear: both;
}

#lforsale {
	font-family: Gabriela; 
	text-align: center;
}

#des p {
	font-size: 1.4em;
	line-height: 1.5rem;
	word-spacing: 0.1rem;
	padding: 1em;
	font-family: "Yanone Kaffeesatz",sans-serif;
}

#des h1 {
	font-weight: 700;
	font-size: 1.2em;
	margin-bottom: 1%;
	
}




#forrepair {
	font-family: Gabriela; 
	text-align: center;
}

#footer {
	margin-top: 1%;
	text-align: center;
}

p a {
	text-decoration: none;
	color: gray;
}

@media only screen and (max-width: 700px) {

#repair {
	float: none;
	clear: both;
	text-align: center;
	margin: 0;
	width: 80%;
	margin: 0 auto;
}

#laptops {
	float: none;
	display: block;
	clear: both;
	text-align: center;
	margin: 0;
	width: 90%;
	margin: 0 auto;
}

#wrapper {

	height: auto;
	
}

img {
	max-width: 100%;

}

#des h1 {
	text-align: center;
	font-weight: 700;
	margin-bottom: 8%;
}

#des {
	width: auto;
}

}